/.vscode
/10834_FOR-MU-PREPO-097-v01_Prelevement_naso-pharynge.pdf
/2barcodes.png
/9675_FOR-MU-PREPO-026-v02_Recueil_de_sperme.pdf
/api
/barcode.png
/barcodes_data.json
/binary.png
/captureForms.pdf
/checkboxDetection.py
/checkBoxs.png
/checkBoxs.webp
/detect_barcode.py
/document1.pdf
/Examaple6.png
/Example5.jpeg
/Example6.jpeg
/execussionTesseract.png
/gray.png
/ImageDetection.py
/ImageDetectionExample1.png
/ImageDetectionExample2.png
/ImageDetectionExample3.png
/ImageDetectionExample4.png
/imageTreatment.py
/imageTreatment2.py
/jasper-reports-connector-master
/main.py
/multiplied_images
/output.png
/Rapport3.pdf
/Rapport3.png
/Renseignements-cliniques-ECBU-MU-PREA-FE-004-05.pdf
/Scans
/Scan_20230714 (2).png
/tesseractExample.py
/TextExample.png
/treated_images
/__pycache__